<!DOCTYPE html>
<html lang="ja_JP">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>虚無の申し子</title>
    <link rel="stylesheet" href="/static/css/style_download.css">
</head>

<body>
    <h1>画像をダウンロードしよう！</h1>
    <p>下の"DownLoad Image"を押してダウンロードしよう！</p>
    <div class="img-container">
        <img src="{{ output_url }}" alt="マークニヒト">
        <br>
        <a href="{{ output_url }}" download>Download Image</a>
    </div>
</body>

</html>