<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style_sns.css">
    <title>さめまる</title>
</head>

<body>
    <h1>さめまる</h1>

    <p>気軽にフォローしてね✨</p>

    <ul>
        <li><a href="https://x.com/Samemaru07_0830">Twitter(X)</a></li>
        <li><a href="https://www.instagram.com/same._.0830/?locale=ja_JP">Instagram</a></li>
    </ul>



</body>

</html>